@mixin flex($justify-content: flex-start, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin phone($orientation: portrait) {
  // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  //   @if $orientation == portrait {
  //     @media (orientation: portrait) {
  //       @content;
  //     }
  //   }
  //   @if $orientation == landscape {
  //     @media (orientation: landscape) {
  //       @content;
  //     }
  //   }
  // }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    @if $orientation == portrait {
      @media (orientation: portrait) {
        @content;
      }
    }
    @if $orientation == landscape {
      @media (orientation: landscape) {
        @content;
      }
    }
  }
}
@mixin tablet($orientation: portrait) {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    @if $orientation == portrait {
      @media (orientation: portrait) {
        @content;
      }
    }

    @if $orientation == landscape {
      @media (orientation: landscape) {
        @content;
      }
    }
  }
}
