.primary {
  background-color: rgba(30, 30, 30, 1);
  color: white;
}

.default {
  background-color: rgba(20, 20, 20, 1);
  color: white;
}

@mixin dark($level: null) {
  @if $level == primary {
    @extend .primary;
  } @else {
    @extend .default;
  }
}
