@import "styles/theme.scss";
@import "styles/mixin.scss";

.header {
  @include dark();
  @include flex();

  position: fixed;
  top: 0;
  z-index: 1;

  width: 100%;

  padding: 0 16px;
}

.icon {
  background: transparent;
  margin: 16px 32px;
  height: 36px;

  @include phone(portrait, s) {
    height: 24px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.links {
  display: flex;
  flex-direction: row-reverse;

  > * {
    margin: 0 8px;
  }
}
