@import "styles/theme.scss";
@import "styles/mixin.scss";

.page {
  @include flex(center, flex-start);

  width: 100%;
  height: 100%;

  > div {
    margin-top: 4%;

    @include phone(portrait, l) {
      margin-top: 16%;
    }
    @include phone(portrait, m) {
      margin-top: 16%;
    }
    @include phone(portrait, s) {
      margin-top: 16%;
    }
    @include phone(landscape) {
      margin-top: 16%;
    }
  }
}
