@import "styles/theme.scss";
@import "styles/mixin.scss";

.page {
  @include flex(center, flex-start);

  width: 100%;
  height: 100%;

  > div {
    margin-top: 4%;

    @include phone {
      margin-top: 16%;
    }
  }
}
