@import "styles/mixin.scss";

.repository {
  margin: 0 48px;

  @include phone(portrait, s) {
    margin: auto;
  }
  @include phone(landscape, s) {
    margin: auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
