@import "styles/mixin.scss";
@import "styles/line-clamp.scss";

.card {
  width: min-content;

  cursor: pointer;

  @include phone {
    img {
      width: 80vw;
    }
  }

  h5 {
    margin: 0.8em 0;
  }

  p {
    margin: 1em 0;
    width: 260px;
    overflow: hidden;
    @extend .line-clamp;
  }
}
