@import "styles/mixin.scss";
@import "styles/line-clamp.scss";

.card {
  width: min-content;
  margin: 0 auto;

  cursor: pointer;

  h5 {
    margin: 1em 0;
  }

  p {
    width: 250px;
    overflow: hidden;
    @extend .line-clamp;
  }
}
