@import "styles/mixin.scss";

@mixin columns($itemPerRow) {
  grid-template-columns: repeat($itemPerRow, 1fr);
}

.group {
  display: grid;
  justify-items: center;

  width: 100%;

  @include columns(4);

  @include tablet(landscape) {
    @include columns(3);
  }

  @include phone(portrait) {
    display: flex;
    flex-direction: column;
  }
  @include phone(landscape) {
    @include columns(2);
  }
}
