@import "styles/mixin.scss";

@mixin columns($itemPerRow) {
  @if $itemPerRow == 1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } @else {
    grid-template-columns: repeat($itemPerRow, 1fr);
  }
}

.group {
  display: grid;
  justify-items: center;

  width: 100%;

  @include columns(4);

  @include tablet(landscape) {
    @include columns(3);
  }

  @include phone(portrait, s) {
    @include columns(1);
  }
  @include phone(portrait, m) {
    @include columns(1);
  }
  @include phone(portrait, l) {
    @include columns(1);
  }
  @include phone(landscape) {
    @include columns(2);
  }
}
