@import "styles/mixin.scss";
@import "styles/line-clamp.scss";

.mobile {
  $width: 80vw;
  @include phone(portrait, l) {
    img {
      width: $width;
    }
  }
}

.card {
  width: min-content;

  cursor: pointer;

  @extend .mobile;

  h5 {
    margin: 0.8em 0;
  }

  p {
    margin: 1em 0;
    width: 260px;
    overflow: hidden;
    @extend .line-clamp;
  }
}
